:root {
	/* BG-COLOR-SCHEME */
	--bg-color-ldark: #ebeff3;
	--bg-color-dark: #121e2a;
	/* RED SHADES */
	--red-light: #f47960;
	--red-medium: #e74f30;
	--red-dark: #d92f10;
	/* GREEN SHADES */
	--green-light: #35df91;
	--green-medium: #1fba71;
	--green-dark: #1a8b57;
	/* YELLOW SHADES */
	--yellow-light: #fac762;
	--yellow-medium: #f2ae2c;
	--yellow-dark: #e59807;
	/* BLUE SHADES */
	--blue-light: #33a9fe;
	--blue-medium: #028df0;
	--blue-dark: hsl(205, 99%, 38%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Yantramanav', sans-serif;
}
iframe {
	width: 500px;
}
p {
	margin: 20px 0 20px 0;
}
.main-features {
	margin: 30px;
	padding: 50px;
	border-radius: 10px;
	/* box-shadow: 1px 1px 30px rgb(65, 65, 65);
	background-color: white; */
}
.feature-wrapper {
	margin: 30px;
}
.feature-content {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	/* background-color: var(--bg-color-ldark); */
	border-radius: 10px;
	padding: 40px 0 40px 40px;
}
.feature-content:hover,
.feature-content-reverse:hover,
.feature-big-content:hover,
.feature-content-1:hover {
	background-color: var(--bg-color-ldark);
	box-shadow: 1px 1px 30px rgb(65, 65, 65);
	transform: scale(1.01, 1.01);
}
#feature-text {
	color: black;
	text-align: center;
	line-height: 30px;
	padding: 0 20px 0 20px;
}
.btn-1 {
	color: black;
	text-decoration: none;
	background-color: var(--yellow-medium);
	padding: 15px;
	border-radius: 10px;
}
.btn-1:hover {
	background-color: transparent;
	box-shadow: 1px 1px 90px rgba(244, 156, 78, 1);
	border: 2px solid var(--yellow-medium);
}
.right-image img {
	max-width: 500px;
	height: auto;
	/* padding: 40px 0 40px 0; */
}
.feature-big-content {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
	/* background-color: var(--bg-color-ldark); */
	border-radius: 10px;
}
/* .feature-big-content:hover {
	background-color: var(--bg-color-ldark);
	box-shadow: 1px 1px 30px rgb(65, 65, 65);
	transform: scale(1.01, 1.01);
} */
#big-image img {
	width: 1126px;
	height: 300px;
	object-fit: cover;
	/* padding-left: 4px; */
	border-radius: 10px;
}
.feature-content-reverse {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	/* background-color: var(--bg-color-ldark); */
	border-radius: 10px;
	padding: 40px 0 40px 40px;
}
/* .feature-content-reverse:hover {
	background-color: var(--bg-color-ldark);
	box-shadow: 1px 1px 30px rgb(65, 65, 65);
	transform: scale(1.01, 1.01);
} */
.left-image img {
	max-width: 520px;
	border-radius: 10px;
}
.feature-content-1 {
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 10px;
}
/* .feature-content-1:hover{
	background-color: var(--bg-color-ldark);
	box-shadow: 1px 1px 30px rgb(65, 65, 65);
	transform: scale(1.01, 1.01);
} */
#feature-text-1 {
	position: absolute;
	color: white;
	line-height: 30px;
	max-width: 50%;
}
#image-bt img {
	width: 1129px;
	height: 371px;
	object-fit: cover;
	border-radius: 10px;
}
