:root {
/* BG-COLOR-SCHEME */
    --bg-color-ldark: #1b2e41;
    --bg-color-dark: #121e2a;
    --bg-color-darker: #0a1118;
/* FOOTER  */
    --foot-bg-color: #131313;
    --foot-item-lead: rgb(185, 185, 185);
    --foot-li: rgb(133, 133, 133);
/* RED SHADES */
    --red-light: #f47960;
    --red-medium: #e74f30;
    --red-dark: #d92f10;
/* GREEN SHADES */
    --green-light: #35df91;
    --green-medium: #1fba71;
    --green-dark: #1a8b57;
/* YELLOW SHADES */
    --yellow-light: #fac762;
    --yellow-medium: #f2ae2c;
    --yellow-dark: #e59807;
/* BLUE SHADES */
    --blue-light: #33a9fe;
    --blue-medium: #028df0;
    --blue-dark: hsl(205, 99%, 38%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    transition: ease-in-out 0.2s;
    
}

html {
    scroll-behavior: smooth;
}

section {
    transition: ease-in-out 0.3s;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid var(--yellow-light);
    background-color: var(--bg-color-dark);
}

a {
    text-decoration: none;   
}

li {
    list-style-type: none;
}

.nav-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

#nav-logo-1 {
    width: 150px;
}

#nav-logo-2 {
    display: none;
    width: 50px;
}


.nav-item-1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
}



.nav-li-item {
    display: inline;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-item-2 {
    display: flex;
    align-items: center;
    margin: 5px;
}

#icon-sets {
    display: flex; 
    margin-right: 70px;
    align-items: center;
}

#icon-sets a {
    margin: 0px 10px;
}

#soc-med-icon-set{
    margin-right: 20px;
}

#nav-icon-soc-med {
    display:flex;
    font-size: 25px;
    color: white;
}


#nav-item-2-nav-list ul li a{
    color: white;
    border-radius: 4px;
    height: 100%;
    padding: 10px 20px;
}

#nav-item-2-nav-list ul li a:hover{
    background: rgb(244,156,78);
    background: linear-gradient(180deg, rgba(244,156,78,1) 0%, rgba(250,205,121,1) 100%);
    color: var(--bg-color-dark);
    font-weight: bold;
}



@media screen and (max-width: 735.45px ){
    #icon-sets {
        display: none;
    }

    #nav-container {
        position: relative;
    }

    #nav-logo-1 {
        display: none;
    }

    #nav-logo-2 {
        display: inline;
    }

}
@keyframes hero-bg-animate {
    0% {
        background-size: 1920px 1080px;
    }

    100%{
        background-size: 100% 100%;
    }
}

@keyframes text-animate {
    0% {
        transform: scale(0.8, 0.8);
        opacity: 0;
    }

    100% {
        transform: translateY(1, 1);
        opacity: 1;
    }


}

/* MAIN CONTENT  */

.home-sections {
    display: flex;
    align-items: center;
    background: rgb(250,205,121);
    background: linear-gradient(54deg, rgba(250,205,121,1) 12%, rgba(18,30,42,1) 12%, rgba(18,30,42,1) 88%, rgba(250,205,121,1) 88%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: hero-bg-animate 2.5s;
    transition: ease-in-out 0.2s;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.home-sections:hover{
    box-shadow: 1px 1px 90px rgba(244,156,78,1);
}

#hero-btn .fa-solid {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(244,156,78);
}

.hero-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-text h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 60px;
    animation: text-animate 2s;
}

.hero-text p {
    color: rgba(255, 255, 255, 0.582);
    text-align: center;
    margin: 10px 0px;
}

#hero-btn {
    margin-top: 50px;
}

#hero-btn a{
    display: inline;
    margin: 30px auto;
    position: relative;
    border: 2px solid rgba(250,205,121,1);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: rgb(244,156,78);
    color: linear-gradient(180deg, rgba(244,156,78,1) 0%, rgba(250,205,121,1) 100%);
    border-radius: 6.46px;
    padding: 15px 20px;
    animation: text-animate 2s;
}

#hero-btn a:hover,
#hero-btn a i:hover{
    background: rgb(244,156,78);
    background: linear-gradient(180deg, rgba(244,156,78,1) 0%, rgba(250,205,121,1) 100%);
    box-shadow: 1px 1px 50px rgb(244,156,78);
    color: white;
    
}

/*FEATURE-ITEMS*/

#main-feature-container {
    padding: 30px;
}
#main-features {
    margin: auto;
    padding: 50px;
    max-width: 1738px;
    border-radius: 10px;
    /* background-color: var(--bg-color-dark); */
    /* box-shadow: 1px 1px 30px rgb(65, 65, 65); */
}

#main-features:hover {
    box-shadow: 1px 1px 30px rgb(65, 65, 65);
    transform: scale(1.01, 1.01);
}

.main-feature-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.side-icon {
    font-size: 50px;
}

#main-feature-header {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature-items {
    margin: 20px;
    padding: 20px;
}

.item-title {
    font-weight: 900;
    font-size: 20px;
}

.item-desc {
    font-weight: 400;
    margin: 30px 0px;
}

.feature-item-btn {
    padding: 10px;
    font-weight: 600;
    color: var(--yellow-medium);
    border: 2px solid var(--yellow-medium);
    border-radius: 4px;
    
    /* border: 3px solid red; */
}

.feature-item-btn:hover {
    background-color: var(--yellow-medium);
    color: white;
    
}

#features-container {
    padding: 30px;
}

.feature-item-big-wrapper {
    max-width: 1738px;
    border-radius: 10px;
    padding: 50px;
    margin: auto;
    /* margin: 30px; */
}

.feature-item-big-wrapper:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 1px 1px 30px rgb(65, 65, 65);
    
}

.feature-item-big-wrapper h1,
.feature-item-big-wrapper h1 span{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.feature-item-big-1,
.feature-item-big-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    /* border: 2px solid red; */
}

.feature-item-big-2 {
    flex-direction: row-reverse;
}

#item-big-title {
    font-size: 30px;
    font-weight: 900;
}

.item-big-desc {
    width: 50%;
    padding: 0px 20px;
}

#item-left {
    text-align: right;
}

.item-big-desc p {
    margin: 10px 0px;
    font-size: 16px;
}

.feature-item-big-1 #item-image-1,
.feature-item-big-2 #item-image-2 {
    text-align: center;
    padding: 20px;
    width: 50%;
}

.feature-item-big-1 #item-image-1 img,
.feature-item-big-2 #item-image-2 img{
    border-radius: 10px;
    width: 100%;
}


/* ###################################  */

#serv-pricing {
    padding: 40px 0px;

}

#serv-pricing-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing-main-blocks {
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    padding: 70px 20px;
    width: 320px;
    height: 430px;
    margin: 20px;
}

.pricing-main-blocks:hover {
    box-shadow: 1px 1px 18px gray;
}

#serv-pricing h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 20px 0px;
    font-size: 35px;
}


.price-tag-value {
    font-size: 45px;
}

.price-label-name {
    font-style: italic;
    font-weight: 900;
}

.product-feature-desc {
    margin-top: 10%;
}

.price-btn {
    /* border: none */
    margin: 30px 10px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: var(--bg-color-dark);
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.price-btn:hover{
    color: white;
    box-shadow: 1px 1px 10px gray;
}

#price-btn-free {
    background-color: rgb(228, 191, 72);
}


#price-btn-free:hover{
    background-color: rgb(228, 191, 72);
    transform: scale(1.03, 1.03);
}

#price-btn-basic {
    background-color: rgb(251, 172, 24);
}

#price-btn-basic:hover{
    background-color: rgb(251, 172, 24);
    transform: scale(1.03, 1.03);
}

#price-btn-pro {
    background-color: var(--green-dark);
}

#price-btn-pro:hover{
    background-color: var(--green-dark);
    transform: scale(1.03, 1.03);
}

#price-btn-enterprise {
    background: rgb(244,156,78);
    background: linear-gradient(0deg, rgba(244,156,78,1) 0%, rgba(250,205,121,1) 100%);

}

#price-btn-enterprise:hover{
    background: rgb(244,156,78);
    background: linear-gradient(0deg, rgba(244,156,78,1) 0%, rgba(250,205,121,1) 100%);
    transform: scale(1.03, 1.03);
}

#price-block-free:hover{
    background-color: rgb(255, 255, 179);
    transform: scale(1.03, 1.03);
    
}

#price-block-basic:hover{
    background-color: rgb(255, 214, 137);
    transform: scale(1.03, 1.03);
}

#price-block-pro:hover{
    background-color: rgb(179, 255, 179);
    transform: scale(1.03, 1.03);
}

#price-block-enterprise:hover{
    background: rgb(244,156,78);
    background: linear-gradient(180deg, rgba(244,156,78,1) 0%, rgba(250,205,121,1) 100%);
    transform: scale(1.03, 1.03);
}







/* ###################################  */


.about-container {
    padding: 30px;
}


.about-header {
    text-align: center;
    margin: 0px 10%;
}

.about-header h1 {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    /* margin-top: 60px; */
}

.about-header p{
    font-size: 16px;
    margin: 20px;
}

.about-profiles .prof-pic {
    width: 150px;
    border-radius: 50%;
    border: 3px solid var(--yellow-medium);
}

.about-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5rem 0;
}
.about-wrapper .full-name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.about-wrapper .job-title {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0px;
    color: rgb(95, 95, 95);
}

.about-wrapper .full-name,
.about-wrapper .job-title {
    display: block;
}

.about-profiles {
    text-align: center;
    width: 250px;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    position: inherit;
}

.about-profiles:hover{
    transform: scale(1.1, 1.1);
    background: rgb(244,156,78);
    background: linear-gradient(180deg, rgba(244,156,78,1) 0%, rgb(250, 205, 121) 100%);
    box-shadow: 1px 1px 30px gray;
    cursor: pointer;
    
}




/* ################################### */


/* #hero,
#main-feature-container,
#features-container,
#section-about-main-container {
    background-color: var(--bg-color-darker);
} */


/* FOOTER  */

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    background: rgb(18,30,42);
    background: linear-gradient(180deg, rgba(18,30,42,1) 94%, #fac762 100%);
}

.footer-item-block {
    margin: 10px 50px;
    padding: 30px;
}

.item-lead {
    font-weight: bold;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(#facd79, #f49c4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-item-block ul li, 
.footer-item-block ul li a
{
    list-style-type: none;
    color: var(--foot-li);
}

.footer-container-2 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#soc-med-right {
    display: flex;
}

.fa-brands {
    margin: 0px 5px;   
}

.fa-brands:hover {
    transform: scale(1.5, 1.5);
}
#footer-icon-sets {
    margin: 0px 20px;
}

#footer-icon-sets .fa-brands{
    color: var(--bg-color-dark);
    font-size: 20px;
}
